@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input[type="file"]::file-selector-button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.upload__container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff4a4a;
  padding-bottom: 30px;
}
.error {
  color: crimson;
}
.output__container {
  height: 65px;
  font-size: 0.8rem;
}
/* progress bar styles */
.progress-bar {
  display: flex;
  background-color: #ff4a4a;
  height: 5px;
  border-radius: 10px;
}
/* image grid styles */

/* modal styles */
